:root {
  --font-family: "Inter", sans-serif;
  --color-white: #fff;
  --color-black: #000;
  --color-primary: #2b7fff;
  --color-primary-hover: #1447e6;
  --color-secondary: #1e2939;
  --color-secondary-hover: #101828;
  --color-text: var(--color-secondary-hover);
  --color-gray-dark: #e5e7eb;
  --color-gray-light: #f9fafb;
  --color-gray: #4A5565;
  --color-like: #FF2056;
  --color-success: #4caf50;
}
